html,body{

    touch-action:none;

    overflow:hidden;

}

body{
    margin:0;
    overflow:hidden;
    background:black;
    font-family:Arial, sans-serif;
}

canvas{
    position:absolute;
    touch-action:none;
    top:0;
    left:0;
}

#introScreen{
    position:absolute;
    width:100%;
    height:100%;
    background:black;
    color:white;
    z-index:20;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
}

#introScreen h1{
    font-size:60px;
    margin-bottom:20px;
}

#introScreen h2{
    color:red;
    font-size:70px;
    font-family:Impact;
    letter-spacing:5px;
    margin-top:30px;
}

#introScreen p{
    font-size:24px;
    width:70%;
    line-height:1.5;
}

.startText{
    margin-top:40px;
    color:#5de0ff;
}

#mcqBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:700px;

    background:rgba(0,0,0,0.92);

    border:4px solid white;

    border-radius:20px;

    padding:30px;

    color:white;

    z-index:30;

    display:none;
}

#question{
    font-size:32px;
    margin-bottom:25px;
}

.choice{
    background:#1f1f1f;
    border:2px solid white;

    padding:15px;

    margin-top:15px;

    border-radius:10px;

    cursor:pointer;

    transition:0.2s;
}

.choice:hover{
    background:#444;
}

#messageBox{
    position:absolute;

    top:100px;

    width:100%;

    text-align:center;

    font-size:60px;

    color:red;

    font-family:Impact;

    z-index:40;

    display:none;
}

#endScreen{
    position:absolute;

    width:100%;
    height:100%;

    background:black;

    color:white;

    z-index:50;

    display:none;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;
}

#endTitle{
    font-size:80px;
    color:red;
    font-family:Impact;
}

#endMessage{
    width:70%;
    font-size:30px;
    line-height:1.6;
    margin-top:30px;
}